  swagger: '2.0'
  info:
    

    description: |
    
      stc, a leading digital telecommunication corporation, has developed the Connectivity Management Platform (CPM) APIs to assist organizations to manage and utilize their owned SIMs in a manner that provides them managed connectivity in multi-national, multi-level, and multi-operator environments.
      
      This specification is prepared for the API developers to assist them by managing their owned SIMs, to integrate their systems with the Connectivity Management Platform (CMP).
      
      # Release notes
      | Version |  Author |   Date      |  Notes   | 
      |--------|-------|-------|------------|
      | 2.1.0 | salim s toutah| 30 April 2021 | CR-47706 STC Network and IT Integrations <br> with Globetouch M2M Platform for General Motor <br> Initial Draft.
      | 2.1.1 | Muhammad Aamir Aftab| 2nd June 2021 | CR-47706 STC Network and IT Integrations <br> with Globetouch M2M Platform for General Motor <br> Added response body of cancelLocation in <br> POST /sims/{simId}/{identifier}/network/disconnected
      | 2.1.1 | Muhammad Aamir Aftab| 2nd June 2021 | CR-47706 STC Network and IT Integrations <br> with Globetouch M2M Platform for General Motor <br> Correct the spelling of 'operatorName' a response field of <br>Get Latest SIM Registration in <br> GET /sims/{simId}/{identifier}/registration.    
      | 2.1.1 | Muhammad Aamir Aftab| 2nd June 2021 | CR-47706 STC Network and IT Integrations <br> with Globetouch M2M Platform for General Motor <br> Added new resource Break Glass unders SIMS <br> PATCH /sims/{simId}/{identifier}/services/barring.
      | 2.2.0 | Muhammad Aamir Aftab| 17th August 2021 | Added a new resource to download the report. <br> **Reporting** => GET /reports/{reportId}.
      | 2.2.1 | Muhammad Aamir Aftab| 17th September 2021 | Added a new fields in the response. **SIM** => GET /sims.   
      | 2.2.1 | Muhammad Aamir Aftab| 18th September 2021 | Added the new entity named as **'apns'** in the <br> response of GET /sims/{simId}/{identifier}/diagnosis.
      | 2.2.1 | Muhammad Aamir Aftab| 19th September 2021 | Added the new field **'deliveryReceipt'** in the <br> request of POST /sms/sent. 
      | 2.2.1 | Muhammad Aamir Aftab| 22nd September 2021 | Added a missing fields, description and field maps of the response. **SIM** => GET /sims.         
      | 2.2.2 | Muhammad Aamir Aftab| 6th October 2021 | Added description and cardinality indicator in the field maps of the response. **SIM** => GET /sims.     
      | 2.3.0 | Muhammad Aamir Aftab| 10th October 2021 | Added a new resource to create the case of sims termination.<br> **SIM** => POST /sims/termination/case.   
      | 2.3.1 | Muhammad Aamir Aftab| 31st October 2021 | Added a new resource to terminate the sims.<br> **SIM** => DELETE /sims.       
      | 2.3.2 | Muhammad Aamir Aftab| 15 December 2021 | Update the enum from IN_PROGRESS to PROCEEDING of <br>GET /transactions/{transactionId}/status. 
    
    version: '2.3.1'

    contact:
      name: API Team
      email: api@stc.com.sa

  host: internal.api.stc.com.sa:4443
  basePath: enterprise/v1
  schemes:
    - http
  securityDefinitions:
    OAuth2ClientCredentials:
      description: Authorization using oAuth 2.0 Framework.
      type: oauth2
      tokenUrl: 'https://api.stc.com.sa/s-oidc/oAuth2/v1/token'
      flow: password
      scopes:
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/service.read': service profile read
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/servicestatus.read': service status read
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/bus.read': read business units
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/customer.read': read customer information
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/tc.read': read trigger counters
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/ccs.read': read cost centers
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/sessionsdisconnect.create': disconnect sessions
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/report.create': generate report
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/ccs.update': update cost centers
        'https://api.stc.com.sa/scope/euAuth/m2m/label/templatelabels.read': read template labels
        'https://api.stc.com.sa/scope/euAuth/m2m/label/templatelabels.create': create template labels
        'https://api.stc.com.sa/scope/euAuth/m2m/label/simaddto.create': add to SIM
        'https://api.stc.com.sa/scope/euAuth/m2m/label/simremove.update': remove from SIM
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/info.read': read sim info
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/usageAndCostInformation.read': read info
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/lastEvents.read': read last event
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/updateData.update': update data
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/changeServiceProfile.update': change service profile
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/moveToCostCenter.move': move cost center
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/moveToBusinessUnit.move': move BU
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/activate.action': activate sim
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/suspend.action': suspend sim
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/resume.action': resume sim
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/history.read': read sim history
        'https://api.stc.com.sa/scope/euAuth/m2m/sms/send': send sms
        'https://api.stc.com.sa/scope/euAuth/m2m/user/deactivate.action': deactivate user account 
        'https://api.stc.com.sa/scope/euAuth/m2m/user/users.read': get all users
        'https://api.stc.com.sa/scope/euAuth/m2m/user/users.update': update users
        'https://api.stc.com.sa/scope/euAuth/m2m/user/users.create': create users
        'https://api.stc.com.sa/scope/euAuth/m2m/user/credentials.create': create user credentials
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/networkdetails.read': read sim network detail
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/diagnosis.read': diagnosis sim information
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/voiceusage.read': read sim voice usage information
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/smsusage.read': read message usage information
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/datausage.read': read sim data usage information
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/status.read': read sims status information
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/modifiedsim.read': read modified sims information
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/networkdisconnect.create': disconnect sim from network
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/usageSummary.read': read sim usage summary      
        'https://api.stc.com.sa/scope/euAuth/m2m/ping': ping current api for healthcheck
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/device.update' : update sim's device infomration
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/registration.read' : read latest sim network registration
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/services/barring.update' : Update the  latest sim network registration   
        'https://api.stc.com.sa/scope/euAuth/m2m/utility/report.read' : Read report.    
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/terminate.case' : create the case of sims termination in platform.   
        'https://api.stc.com.sa/scope/euAuth/m2m/sims/delete' : Terminates the sims
        
  consumes:
    - application/json
  produces:
    - application/json
  paths:
    /service/status:
      get:
        tags:
          - Service
        description: Is service available
        summary: Check if service is available
        operationId: isServiceAvailable
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/utility/servicestatus.read'
        produces:
          - application/json
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/isavailable'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
    /service/profiles:
      get:
        tags:
          - Service
        description: Get all service profiles
        summary: Get all service profiles
        operationId: getAllServiceProfiles
        produces:
          - application/json
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/utility/service.read'
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: ids
            in: query
            description: Comma separated target party role ids
            required: true
            type: string
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/servicesProfile'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
    /customer:
      get:
        tags:
          - Customer
        description: Get current customer information
        summary: Get Customer
        operationId: getMyCustomer
        produces:
          - application/json
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/utility/customer.read'
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/customer'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
    /report:
      post:
        tags:
          - Reporting
        description: Generate report
        summary: Generate report
        operationId: generateReport
        produces:
          - application/json
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/utility/report.create'
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: generateReport
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/report'
        responses:
          '201':
            description: Status 201 - CREATED
            schema:
              $ref: '#/definitions/generateReportResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '409':
            description: Status 409 - Conflict
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.        
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
                  
    /reports/{reportId}:
      get:
        tags:
          - Reporting
        description: |
          This operation enables consumers to retrieve a report from Connectivity Management Platform (CMP) based on the specified report Id. 
          
          ## Supported File Types:-
          The supported file types of report are CSV, PDF and Excel.
          
          ## Response Headers 
          **1- Content-Type**
          The default content type is application/octet-stream. These octet-stream files are arbitrary binary data files that might be in .csv or .pdf or .xls format.


          **2- Content-Disposition**
          The Content-Disposition response header field conveys additional information about how to process the response payload. The Content-Disposition header field is defined as follows:
              "Content-Disposition" ":" disposition-type ";" disposition-param)
               ```Example Content-Disposition:attachment; filename = CDR Report 2021-08-16-Shaden.csv ```
         
          ***disposition-type***: The default value of disposition-type is being set as "attachment". Indicates that the user-agent should not display the response, but instead show a "Save As" dialog so that user can download the report as an attachement and save it locally.
          
          ***disposition-param - filename***:  The suggested filename for an eventual "Save As" dialog presented to the user. It could be used as a basis for the actual filename, where possible.
         
          ## Authorization Note:-
          This resource requires a valid OAuth2.0 access token for consumer who is not within stc network. Make sure you have the right scope for this API resource.
          
          
          ### OAuth Scope
          https://api.stc.com.sa/scope/euAuth/m2m/utility/report.read
          
          ## Flow
          ```
          +----------+                    +---------+                       +----------+
          | Consumer |                    |  APIM   |                       |   CMP    |
          +----------+                    +---------+                       +----------+
               |                                |                                 |     
               | 1- Download Report Request     |                                 |      
               |--------------------------->>   |                                 |  
               |                                | 2- Download Report Request      |  
               |                                | ----------------------------->> |  
               |                                |                                 |  
               |                                |  3- Download Report Reply       |  
               |                                | <<----------------------------- |  
               |                                |                                 |  
               |  4-  Download Report Reply     |                                 |  
               | <<---------------------------- |                                 |  
               |                                |                                 |    
          ```
          
          ## Examples
          #### Sample Request
          The following is a sample CURL request:
          ```
          curl -X GET \
            "https://${HOST}/m2m/v2/reports/{9989}"\
            -H "Authorization: Bearer tUAFR8WZYUltiQEW0iAkB7FyrwH3eHPCwGHg4zYjroQ6c4ycGvRp " \
            -H "X-STC-API-ClientMsgRef: 8a969c6a-c28a-t546-gd79-961e6" \
            -H "X-STC-API-ClientCorrelationRef: 8a969c6a-c28a-t546-gd79-961e6" \
            -H "Accept: application/json" \
         
          ```
          #### Sample Successful Response
          The following is a sample of a successful response in CSV Format:
          ```
            HTTP/1.1 200 OK 
            X-STC-API-ApiMsgRef: 92ff21d4-25ef-4df6-ab24-4f0b2ded1c9c,
            X-STC-API-ClientCorrelationRef: "8a969c6a-c28a-t546-gd79-961e6,
            X-STC-API-ClientMsgRef: 4f0b2ded1c9c-c28a-t546-gd79-961e6,
            Content-Type: application/Octet-Stream
            Content-Disposition:atachment; filename = CDR Report 2021-08-16-Shaden.csv
            Content-Length: 375
            IMSI;MSISDN;ICCID;CUSTNAME;BUNAME;CCNAME;SERVICEPROFILENAME;SESSION_STATE;DISPLAYABLESIMSTATUS;CUSTLABEL;BULABEL;CUSTOMERORDER_ID;REAL_USER_FINGERPRINT
          420011050983573;966830040793483;89966011050983573;بدالرب اناص;Shaden;;
          BUID_9286_GMConnected_Restricted_1;;0;ACTIVE;;;;VERIFIED
          420011050983573;966830040793483;89966011050983573;بدالرب اناص;Shaden;;
          BUID_9286_GMConnected_Restricted_1;;0;INACTIVE;;;;NOT_APPLICABLE          
          ```
          **Note:** The file extension of the report might be of .{csv/pdf/xls}.
          
          #### Sample Failure Response
          The following is a sample of a failure response:
          ```
            HTTP/1.1 400  
            Content-Type: application/json;charset=UTF-8,
            X-STC-API-ApiMsgRef: 92ff21d4-25ef-4df6-ab24-4f0b2ded1c9c,
            X-STC-API-ClientCorrelationRef: "8a969c6a-c28a-t546-gd79-961e6,
            X-STC-API-ClientMsgRef: 4f0b2ded1c9c-c28a-t546-gd79-961e6,
            Content-Type: application/json
            {
              "httpStatusCode": 400,
              "error": {
                  "code": "API.400.InvalidReportId",
                  "message": "Generic Data Format validation error.",
                  "reason": "An invalid value was specified of 'reportId' path parameter.",
                  "moreInfoHref": "https://developers.stc.com.sa/docs/errors#API.400.1"
              }
            }

          ```        
          
          ## Payload Size Limit
           The payload size should be less than 500KB.

          
          ## Rate Limits: 10 Transaction Per Seconds (TPS).
          This API anticipates not more than 10 requests in a second.
          
          ## Error Codes 
          The following error codes may be returned
          | HTTP Status Code | &nbsp;&nbsp;&nbsp;&nbsp;Error Code| Error Reason |
          |----------------- |-----------|--------------|
          | 400 | API.400.InvalidReportId|An invalid value was specified of 'reportId' parameter.|  
       
          
        summary: Retrieve a report from Connectivity Management Platform (CMP). 
        operationId: getReport
        produces:
          - application/Octet-Stream
        security:
          - OAuth2:
              - https://api.stc.com.sa/scope/euAuth/m2m/utility/report.read
        parameters: 
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: reportId
            in: path
            description: A report ID from a ‘generate a report’ call.
            required: true
            type: string
              
        responses:
          '200':
            description: !
              Status 200 - OK.
              
              
              **Returns the report data in binary format.**

            schema:
              type: file
              format: binary  
  
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
              Content-Type:
                type: string
                description: >-
                  The content type specified for the file. The default content type is application/octet-stream. 
              Content-Disposition:
                type: string
                description: >- 
                    The Content-Disposition response header field conveys additional information about how to process the response payload.
     
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                                
    /users:
      get:
        tags: 
          - Users
        description: Get information of users from the given domain id. Given domain may be customer identifier or business unit identifier.
        summary: Get information of users from the given domain id.
        operationId: getUsers
        produces:
          - application/json
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: ids
            in: query
            description: Customer identifier or Business Unit identifier.
            required: true
            type: string
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/Users'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/user/users.read'
      put:
        tags: 
          - Users
        description: Update users
        summary: Update user's information
        operationId: updateUsers
        produces:
          - application/json
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: updateUsers
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/Users'
        responses:
          '200':
            description: Status 200 - OK
            schema:
              $ref: '#/definitions/CreateUpdateUserResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '503':
            description: Status 503 - One of the requested services is not available
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
        security:
          - OAuth2:
              - 'https://api.stc.com.sa/scope/euAuth/m2m/user/users.update'
      post:
        tags: 
          - Users
        description: Create user
        summary: Create new user
        operationId: createUser
        produces:
          - application/json
        parameters:
          - name: X-STC-API-ClientMsgRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: X-STC-API-ClientCorrelationRef
            in: header
            required: false
            description: >-
              A client reference value that will be sent back as part of the
              response header
            type: string
          - name: createUser
            in: body
            required: true
            description: ''
            schema:
              $ref: '#/definitions/User'
        responses:
          '201':
            description: Status 201 - CREATED
            schema:
              $ref: '#/definitions/CreateUpdateUserResponse'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '400':
            description: Status 400 - Bad Request
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.                
          '401':
            description: Status 401 - Unauthorized
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '403':
            description: Status 403 - Forbidden
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '404':
            description: Status 404 - Resource Not Found
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '429':
            description: Status 429 - Limits on API usage have been reached
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
                  generic top level errors, such as 404 URL not found, will not
                  produce this value.
          '500':
            description: Status 500 - Generic Server Error
            schema:
              $ref: '#/definitions/GenericAPIErrorStructure'
            headers:
              X-STC-API-ApiMsgRef:
                type: string
                description: >-
                  A Unique STC Identifier for the api call. The value is not
                  mandatory as some generic top level errors, such as 404 URL not
                  found, will not produce this value
              X-STC-API-ClientMsgRef:
                type: string
                description: >-
                  The original client reference value sent in the request. The
                  value is not mandatory or guaranteed as some generic top level
                  errors, such as 404 URL not found, will not produce this value.
              X-STC-API-ClientCorrelationRef:
                type: string
                description: >-
                  The original client correlation reference value sent in the
                  request. The value is not mandatory or guaranteed as some
[...]
